

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #555;
  text-rendering: optimizeLegibility; /*makes fonts render nicely*/
}

.recipe-hr{
  padding: 24px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.action-icons {
  margin-left: 30px;
  float: right;
}

.add-icon{
  float: right;
  margin: 0px 5px 10px 0px;
}

.recipe-img{
  max-width: 500px;
}