
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #555;
  text-rendering: optimizeLegibility; /*makes fonts render nicely*/
}

body {
  background-color: #FBE9E7;
}

.modal-dialog {
  background-color: #FBE9E7;
  /* background-color: #b3e5fc; */
  height: 100%;
}

.details {
    display: block;
    background-color: #ffffff;
    padding: 0px 20px 20px 20px;
    margin: 20px auto;
    width: 75%; 
    border-radius: 1%
}

.recipe-hr{
  padding: 24px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.action-icons {
  margin-left: 30px;
  float: right;
}

.add-icon{
  float: right;
  margin: 0px 5px 10px 0px;
  font-size: 22px;
  color: #000000;
  font-weight: 500;
}

.recipe-img{
  max-width: 100%;
}

.button-div{
  width: 100%
}

.imgDropZone 
{
display: inline-flex;
padding-right: 20px;
}

@media screen and (max-width: 960px) {
  .imgDropZone  {
    display: block;
    padding: 10px 0px;
  }
}

.foot-link {
  text-align: center;
  padding: 12px;
  color: #FF5722;
}

.foot-link:hover {
  /* color: #FF5722; */
  font-weight: bold;
}

.social-icons{
  list-style-type: none;
  display: flex;  
}

.social-icons li{
  padding-left: 9px;
}

/* Spinner */
.overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #e1ebef;
  opacity: .75;
  z-index: 9999999;
}